.top-level-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.landing-wrapper {
  text-align: center;
  padding: 40px 0 !important;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .end-wrapper {
    .table-wrapper {
      margin-top: 30px;

      .scoreboard-header {
        margin-bottom: 30px;
      }

      .table {
        margin-bottom: 0;

        .members {
          text-align: left;
        }

        .medal {
          flex-grow: 0.2;
          margin-right: 28px;
        }

        .last-child {
          //border-bottom: 0;
        }
      }
    }
  }

  &.last-phase {
    padding-bottom: 0 !important;
    overflow: visible;
  }

  &.chrome-metamask-wrapper {
    .browser-wrapper {
      h2 {
        margin-bottom: 0;
      }

      a {
        text-decoration: underline;
        margin: 0 5px;
      }

      &.not-chrome h2 {
        line-height: 35px;
      }
    }
  }

  p {
    margin: 0;
    a {
      text-decoration: underline;
    }
  }

  .sponsors-wrapper {
    margin: 50px 50px 30px;

    .prize-pool-wrapper {
      margin-top: 20px;
    }

    .sponsor-wrapper {
      display: inline-block;
      margin: 0 10px 10px;

      .logo {
        display: block !important;
        margin: 0 auto;
        height: 60px;
        width: 100px;
        background-size: contain !important;
        background-position: 50% !important;
        background-repeat: no-repeat !important;
      }
    }
  }

  .table-wrapper {
    margin: 50px 0 0;
  }

  .td.rewardable {
    max-width: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }
}