.landing-wrapper {
  text-align: center;
  padding: 40px 0 !important;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
    a {
      text-decoration: underline;
    }
  }

  .sponsors-wrapper {
    margin: 50px 0 0;

    .sponsor-wrapper {
      display: inline-block;
      margin: 0 10px 10px;

      .logo {
        display: block !important;
        height: 60px;
        width: 100px;
        background-size: contain !important;
        background-position: 50% !important;
        background-repeat: no-repeat !important;
      }
    }
  }

  .table-wrapper {
    margin: 50px 0 0;
  }

  .td.rewardable {
    max-width: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }
}