.table-header{
  display: flex;

  .title{
    font-size: 20px;
    color: #212121;
    margin-bottom: 8px;
    line-height: 20px;
  }

  .subtitle {
    color: #757575;
    font-size: 14px;
    line-height: 14px;
  }

  .submit-button{
    margin-left: auto;
    width: 100px;
    height: 38px;
    background-color: #673AB7;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;

    &:hover:not(:disabled) {
      background: lighten(#673AB7, 15);
    }

    &:disabled {
      user-select: none;
      cursor: not-allowed;
      background: lighten(#673AB7, 30);
    }
  }
}