.table-header{
  padding: 26px 21px 10px 21px;
  display: flex;

  &.jury-table-header {
    display: flex;
    justify-content: space-between;
  }

  .button-status-wrapper {
    display: flex;

    .voting-status {
      margin-right: 15px;
      margin-top: 5px;

      &.voting-error {
        color: #F57170;
      }

      &.voting-success {
        color: #28CC9E;
      }
    }
  }

  .title{
    font-size: 20px;
    color: #212121;
    margin-bottom: 8px;
    line-height: 20px;
  }

  .subtitle {
    color: #757575;
    font-size: 14px;
    line-height: 14px;
  }

  .submit-button{
    margin-left: auto;
    width: 100px;
    height: 38px;
    background-color: #673AB7;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;

    &:hover:not(:disabled) {
      background: lighten(#673AB7, 15);
    }

    &:disabled {
      user-select: none;
      cursor: not-allowed;
      background: lighten(#673AB7, 30);
    }
  }
}