.header {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;

  .title {
    text-align: left;

    h1 {
      color: white;
      line-height: 30px;
      font-size: 26px;
      margin: 0;
      a {
        transition: all .1;
      }
      &:hover a {
        color: white;
        opacity: .8;
      }
    }
    h2 {
      color: white;
      opacity: .7;
      font-size: 16px;
      margin: 0;
      font-weight: normal;
    }
  }

  .other {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}