.payout-wrapper {
  padding: 0 20px 20px 20px;
  border-top: 1px solid #d0d0d0;
  padding-top: 20px;

  .payout-error {
    color: #F57170;
    font-size: 16px;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #673AB7;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 10px;

    &:hover {
      background: lighten(#673AB7, 15);
    }

    &:disabled {
      user-select: none;
      cursor: not-allowed;
      background: lighten(#673AB7, 30);
    }
  }

  .pay-button-wrapper {
    font-size: 18px;
    font-weight: 700;
  }

  .table {
    margin-top: 20px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 0;

    .arrows, .team-rank {
      flex-grow: 0.2;
      justify-content: center;
    }

    .team-name {
      flex-grow: 0.4;
    }
  }
}