.payout-wrapper {
  border-top: 1px solid #d0d0d0;

  .payout-error {
    color: #F57170;
    font-size: 16px;
    margin-left: 20px;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #673AB7;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 10px;

    &:hover {
      background: lighten(#673AB7, 15);
    }

    &:disabled {
      user-select: none;
      cursor: not-allowed;
      background: lighten(#673AB7, 30);
    }
  }

  .pay-button-wrapper {
    font-size: 18px;
    font-weight: 700;
    margin: 20px;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d0d0d0;
    font-size: 20px;
    padding: 30px;

    .tip {
      font-size: 14px;
    }
  }

  .table {
    border-bottom: 0;
    margin-bottom: 0;

    .team-name {
      flex-grow: 0.5;
    }

    .arrows, .team-rank, .team-points {
      flex-grow: 0.2;
      justify-content: center;
    }

    .team-points {
      flex-grow: 0.6;
    }

    .arrows {
      cursor: pointer;
      flex-grow: 0.2;
    }

    .team-address {
      justify-content: flex-start;
    }
  }
}