$highlight: #673AB7;

.empty-section {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    color: #777;
    font-size: 21px;
    margin: 20px;
    font-weight: normal;
  }

  button {
    border:0;
    outline: none;
    background-color: $highlight;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.tab-wrapper {
  border-bottom: 1px solid #eee;

  a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 0 10px;
    border-bottom: 3px solid white;
    color: #BFBFBF;
    cursor: pointer;
    &.active {
      color: $highlight;
      border-color: $highlight;
    }
  }
}

.tab-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #eee;

  .left-section {
    a {
      user-select: none;
      display: inline-block;
      color: #BFBFBF;
      text-align: center;
      padding: 20px;
      margin: 0 10px;
      border-bottom: 3px solid white;
      cursor: pointer;

      &.active {
        color: $highlight;
        border-color: $highlight;
      }
    }
  }

  .right-section {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    button {
      color: $highlight;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 7px;
        fill: $highlight;
      }

      &:hover {
        color: lighten($highlight, 20);
        svg {
          fill: lighten($highlight, 20);
        }
      }
    }
  }
}

.admin-header {
  padding: 20px;
  h1 {
    color: #777;
    font-size: 21px;
    margin: 20px;
    font-weight: normal;
  }

  button {
    border:0;
    outline: none;
    background-color: $highlight;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.admin-table {
  width: 100%;
  text-align: left;

  th, td {
    padding: 20px 10px;

    &.highlighted {
      color: $highlight;
    }

    &.rewardable {
      width: 40px;
      line-height: 10px;
    }
  }
  th {
    font-weight: normal;
    font-size: 16px;

    &.order {
      font-size: 14px;
      color: #95989A;
      font-weight: normal;
    }

  }
  td {
    font-size: 14px;
    color: #777;
  }

  .clickable {
    cursor: pointer;

    &:active{
      opacity: 0.8;
    }
  }
  .arrows {
    padding: 20px 10px;
    display: inline-block;
    float: right;
  }
}