.modal-header {
  justify-content: flex-end;
  border-bottom: 0;

  span {
    display: flex;
    cursor: pointer;
    margin: 5px 10px 0 0;
  }
}

.modal-wrapper-body {
  padding: 6px 60px 60px 60px;

  display: flex;
  justify-content: center;
}