.scoreboard {
  .container {
    padding: 0;
  }

  .container-title {
    padding: 30px;
    font-size: 20px;
    border-bottom: 1px solid #dadada;
  }

  .teams {
    .team {

      .team-rank {
        font-size: 14px;
        color: #95989A;
        justify-content: center;
        flex-grow: 0.4;
      }

      .medal, .reward-amount, .total-points {
        font-size: 14px;
        flex-grow: 0.4;
        justify-content: center;
      }

      .team-name-wrapper {
            .rewardable {
              position: relative;
              top: 3px;
              margin-right: 10px;
            }

            .team-name {
              font-weight: 500;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
      }

      .total-points {
        flex-grow: 0.3;
      }

      .members {
        flex-grow: 2;
        display: block;
        line-height: 25px;
      }

      .reward-amount {
        padding-right: 20px;
        display: block;
        line-height: 25px;
        flex-grow: 0.5;
        justify-content: flex-end;
      }
    }

    &:last-child {
      .team .td {
        border-bottom: 0;
      }
    }
  }
}
