* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: #c05228;
  background: linear-gradient(45deg,  #c05228 0%, #9F1B22 50%, #562889 100%);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;

  &.white {
    background-color: white;
    border-radius: 5px;

    .content {
      padding: 20px;
    }
  }

  &.hero {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      color: #777;
      font-size: 36px;
      margin: 20px;
      font-weight: normal;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:focus, &:hover, &:link {
    text-decoration: none;
  }
};

button {
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}