* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: #c05228;
  background: linear-gradient(45deg,  #c05228 0%, #9F1B22 50%, #562889 100%);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;

  &.white {
    background-color: white;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;

    .content {
      padding: 20px;
    }
  }

  &.hero {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      color: #777;
      font-size: 36px;
      margin: 20px;
      font-weight: normal;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;

  &:focus, &:hover, &:link {
    text-decoration: none;
  }
};

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#root {
  position: relative;
  z-index: 1;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
.app {
  text-align: center;

  .form-wrapper {
    display: inline-block;
    max-width: 470px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 60px 0 40px 0;
    padding: 30px;

    form {
      width: 100%;
      max-width: 390px;
      display: inline-block;
    }

    .form-item {
      background: transparent;
      border-radius: 3px;
      border: 2px solid #fff;
      padding: 16px 20px;
      text-align: left;
      color: white;

      $gray: #D4D4D4;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $gray;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $gray;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $gray;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $gray;
      }
    }

    .form-item-error {
      border-color: #F57170;
      outline-color: #F57170;
    }

    .submit-button {
      background: white;
      color: #a72823;
      font-weight: 700;

      .sk-cube-grid .sk-cube {
        background-color: #FF9800;
      }

      &:hover:not(:disabled) {
        color: lighten(#FF9800, 15);
      }

      &:disabled {
        user-select: none;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .form-name {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
  }
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 14px;
  line-height: 1.5;
  flex: 1 1 auto;
  color: #777;
}

.table-info-header {
  border-top: 0 !important;
}

.th {
  text-align: left;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #eee;
  &:first-child {
    border-top: 1px solid #eee;
  }
}

.td {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
}
