.admin-header-period {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-transform: uppercase;

  .period {
    margin-right: 10px;
  }
}
